@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  padding: 2rem;
  font-weight: normal;
}

a,
.red {
  text-decoration: none;
  color: hsl(334, 99%, 48%);
  transition: 0.4s;
}